parameters:
	phpunit:
		convertUnionToIntersectionType: true
		reportMissingDataProviderReturnType: false
	additionalConstructors:
		- PHPUnit\Framework\TestCase::setUp
	earlyTerminatingMethodCalls:
		PHPUnit\Framework\Assert:
			- fail
			- markTestIncomplete
			- markTestSkipped
	stubFiles:
		- stubs/Assert.stub
		- stubs/AssertionFailedError.stub
		- stubs/ExpectationFailedException.stub
		- stubs/MockBuilder.stub
		- stubs/MockObject.stub
		- stubs/Stub.stub
		- stubs/TestCase.stub
	exceptions:
		uncheckedExceptionRegexes:
			- '#^PHPUnit\\#'
			- '#^SebastianBergmann\\#'

parametersSchema:
	phpunit: structure([
		convertUnionToIntersectionType: bool(),
		reportMissingDataProviderReturnType: bool(),
	])

services:
	-
		class: PHPStan\Rules\PHPUnit\PHPUnitVersion
		factory: @PHPStan\Rules\PHPUnit\PHPUnitVersionDetector::createPHPUnitVersion()

	-
		class: PHPStan\Rules\PHPUnit\DataProviderHelper
		factory: @PHPStan\Rules\PHPUnit\DataProviderHelperFactory::create()
	-
		class: PHPStan\Rules\PHPUnit\DataProviderHelperFactory
		arguments:
			parser: @defaultAnalysisParser

conditionalTags:
	PHPStan\PhpDoc\PHPUnit\MockObjectTypeNodeResolverExtension:
		phpstan.phpDoc.typeNodeResolverExtension: %phpunit.convertUnionToIntersectionType%
	PHPStan\Type\PHPUnit\DataProviderReturnTypeIgnoreExtension:
		phpstan.ignoreErrorExtension: [%featureToggles.bleedingEdge%, not(%phpunit.reportMissingDataProviderReturnType%)]
	PHPStan\Type\PHPUnit\DynamicCallToAssertionIgnoreExtension:
		phpstan.ignoreErrorExtension: %featureToggles.bleedingEdge%
